<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aloksharma.ufl.edu.stash" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddStash"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".AddStashHelper"
            android:label="@string/title_activity_display_message"
            android:parentActivityName=".AddStash" >
        </activity>

        <service
            android:name=".ServerAccess"
            android:exported="false" >
        </service>

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>

            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".AccountActivity"
            android:label="@string/title_activity_account_activity" >

        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".HoloCircularProgressBar" >
        </activity>
        <activity android:name=".ProgressBarAdapter" >
        </activity>
        <activity
            android:name=".DrawerActivity"
            android:label="@string/title_activity_drawer" >
        </activity>
        <activity
            android:name=".testing"
            android:label="@string/title_activity_testing"
            >
        </activity>
    </application>

</manifest>
